registry=http://13.92.101.210:8081/repository/dmp-npm-group/
_auth=YWRtaW46amI2MGphd0tIekIxN3EjVA==
always-auth=true
email=any@email.com 
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=E8A5BFF4-1376-4143-A59D-CCC5EEA3D495
